.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

library.json
hotcues.json
mapping.json

samples/

*.mp4
*.mov
*.avi
*.mkv
*.webm
*.mp3
*.wav
*.flac
*.ogg
*.aac
*.m4a

.vscode/
.DS_Store
Thumbs.db

sofware_dj/
